.counter {
     float:left;
     padding:6px;
     border-radius:5px;
     background:#527F40;
}
.counter span {
     float:left;
     width:22px;
     height:30px;
     text-indent:-9999px;
     font-size:0.0001em;
     background-image:url(counter-sprite.png);
}
.counter .digit-1 {
    background-position:0 -30px;

    animation-name: digitSpin1;
    animation-duration: 3s;
    animation-iteration-count: 1;
          
    -webkit-animation-name: digitSpin1;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;

    -moz-animation-name: digitSpin0;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
}

@keyframes digitSpin1 {
    from { background-position:0 0; }
    to { background-position:0 -30px; }
}
@-webkit-keyframes digitSpin1 {
    from { background-position:0 0; }
    to { background-position:0 -30px; }
}
@-moz-keyframes digitSpin1 {
    from { background-position:0 0; }
    to { background-position:0 -30px; }
}